<%- include("partials/header"); -%>

<body>
    <%- include("partials/navbar"); -%>

    <%- include("partials/front"); -%>

    <%- include("partials/perfil"); -%>

    <%- include("partials/proyectos"); -%>

    <%- include("partials/contacto"); -%>

    <script src="index.js"></script>
</body>

<%- include("partials/footer"); -%>