<%- include("partials/Header"); -%>

<body>
    <%- include("partials/navbar"); -%>

    <%- include("partials/Front"); -%>

    <%- include("partials/Perfil"); -%>

    <%- include("partials/Proyectos"); -%>

    <%- include("partials/Contacto"); -%>

    <script src="index.js"></script>
</body>

<%- include("partials/Footer"); -%>